// Swiper SCSS
.swiper {
    width: 100%;
    height: 55vh;
}

.swiper-slide {
    text-align: center;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0 !important;
}